body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Dark Mode */
.dark {
    background-color: #121212;
    color: #ffffff;
}
